$mainColor: rgb(172, 45, 13);

header {
  padding: 40px 50px 0 50px;
}
.top-header-block {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo-container {
  font-size: 40px;
  margin-right: 20px;
  width: auto;
}

.search-container {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $mainColor;
  ::placeholder {
    font-size: 18px;
    color: #333;
  }

  input {
    padding: 10px;
    height: 100%;
    width: 100%;
  }
}
.search-container__search-btn {
  width: 50px;
  height: 100%;
  border-color: $mainColor;
  background-color: $mainColor;

  svg {
    fill: #fff;
  }
}

.bottom-header-block {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-block {
  display: flex;
  width: 40%;
  span {
    padding: 5px 20px;
  }
}

.nav-list {
  display: flex;

  li {
    a {
      margin: 0 10px;
      cursor: pointer;
      padding: 25px 5px;
      font-size: 16px;
      font-weight: 500;
      color: $mainColor;
    }
  }
}

.test {
  width: 100%;
}

.drop-down-menu {
  position: relative;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 5px 5px 0 0;

  span {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 0 15px;
    letter-spacing: 1px;
    margin-right: 20px;
  }
  svg {
    fill: #fff;
  }
}

.drop-down-menu__hide-content {
  position: absolute;
  z-index: 10;
  top: 161px;
  left: 50px;
  display: flex;
  width: calc(100% - 100px);
  background-color: #fff;
  border: 1px solid $mainColor;
  border-right: none;
}

.drop-down-menu__list-item {
  position: relative;
  padding: 20px 20px;
  cursor: pointer;

  &:hover {
    background-color: $mainColor;
    &::after {
      content: " ";
      display: block;
      left: 100%;
      top: 50%;
      border: solid #0000;
      height: 0px;
      width: 0px;
      position: absolute;
      pointer-events: none;
      border-color: #caeaff00 #caeaff00 #caeaff00 $mainColor;
      border-width: 11px;
      margin-top: -11px;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  a {
    font-size: 18px;
  }
}

.drop-down-menu__sub-list {
  width: 100%;
  padding: 10px;
  border-left: 1px solid $mainColor;
  border-right: 1px solid $mainColor;
}

.drop-down-menu__sub-list-container {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  ul {
    li {
      margin-top: 10px;
      a {
        font-size: 18px;
      }
    }
  }
}

.drop-down-menu__sub-list-item {
  p {
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid $mainColor;
  }
}

.drop-down-menu__sub-list-title {
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    a {
      text-decoration: underline;
    }
  }
}

.drop-down-menu__sub-list-sub-title {
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    a {
      text-decoration: underline;
    }
  }
}

.link {
  color: $mainColor;
}

@media (max-width: 1600px) {
  .nav-block {
    width: 50%;
  }
  .nav-list {
    li {
      a {
        margin: 0 5px;
      }
    }
  }
}
