<header>
  <div class="top-header-block">
    <div class="logo-container">LOGO</div>
    <div class="search-container">
      <input type="text" placeholder="What are you looking for?" />
      <div class="search-container__search-logo"></div>
      <button class="search-container__search-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="bottom-header-block">
    <div class="drop-down-menu">
      <span>Departments</span>
      <svg
        width="24"
        height="24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"
        />
      </svg>
    </div>
    <nav class="nav-block">
      <ul class="nav-list">
        <li>
          <a>Live better</a>
        </li>
        <li>
          <a>Clothing</a>
        </li>
        <li>
          <a>Electronics</a>
        </li>
        <li>
          <a>Keto foods</a>
        </li>
        <li>
          <a>Deals</a>
        </li>
      </ul>
    </nav>
    <div class="nav-block">
      <ul class="nav-list">
        <li>
          <a> Shop grocery </a>
        </li>
        <li>
          <a> Store finder </a>
        </li>
        <li>
          <a> Flyers </a>
        </li>
        <li>
          <a> Sign in My account </a>
        </li>
        <li>
          <a> basket </a>
        </li>
      </ul>
    </div>
  </div>
</header>
